.ShareBox {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    color: #958b7b;
    margin: 0 0 8px;
    background: rgb(255, 255, 255);

}


.ShareBox>div,
button {

    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1.5;
    min-height: 48px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 600;

}

.ShareBox :first-child,
img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px 0px 16px;

}

.profile-photo {
    display: flex;
    margin-bottom: 10px;
}

.profile-photo img {
    width: 48px;
    border-radius: 50%;
    margin-right: 8px;
}

.ShareBox:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile-photo button {
    margin: 4px 0;
    flex-grow: 1;
    border-radius: 35px;
    padding-left: 16px;
    margin-right: 15px;
    border: 1px solid rgb(199, 199, 199);
    background-color: white;
    text-align: left;
}

.Container {
    grid-area: main;
    /* height: au; */
}


button>img {
    /* width: 100%; */
    height: 35px;
    /* margin-right: 5px; */
}

.CommonCard {
    text-align: center;
    overflow: hidden;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    border: none;
    box-shadow: 0 0 0 1px rgb(205, 205, 205);
    border: 1px solid rgb(198, 197, 197);
}


.addPostBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 4px;
}

.addPostBtn span {
    color: rgb(70, 139, 224);
}

.article {
    padding: 0;
    margin: 0 0 8px;
    overflow: visible;
    border: none;

}

.article img{
    height: 25px;
}


.sharedActor {
    padding-right: 40px;
    flex-wrap: nowrap;
    padding: 12px 16px 12px;
    margin-bottom: 8px;
    align-items: center;
    display: flex;
}

.sharedActor a {
    margin-right: 12px;
    flex-grow: 1;
    overflow: hidden;
    display: flex;

    text-decoration: none;
}

.sharedActor a img {
    height: 48px;
    width: 48px;
}

.sharedActor button {
    height: 20px;
    width: 45px;
    font-size: xx-large;
    padding-left: 7px;
}

.sharedActor>a>div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 8px;
    overflow: hidden;
}

.sharedActor>a>div>span {
    text-align: left;
}

.sharedActor>a>div>span:first-child {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.sharedActor>a>div>span:nth-child(n+1) {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.sharedActor>button {
    position: absolute;
    right: 12px;
    top: 0;
    background: transparent;
    border: none;
    outline: none;
}


.discription {
    padding: 0 16px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    text-align: left;
}

.sharedImage {
    margin-top: 8px;
    width: 100%;
    display: block;
    position: relative;
    background-color: #f9fafb;

}

.sharedImage img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.socialCounts {
    line-height: 1.3;
    display: flex;
    align-items: flex-start;
    overflow: auto;
    margin: 0 16px;
    padding: 8px 0;
    border-bottom: 1px solid #c6c6c5;
    list-style: none;

}

.socialCounts>li {
    margin-right: 5px;
    font-size: 12px;
    text-decoration: none;
}

.socialCounts>li:first-child {
    border: 1px solid rgb(223, 223, 223);
}

.socialCounts>li>button {
    display: flex;
}

.socialCounts>li>button>img {
    margin: -10px;
}

.comment {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    min-height: 40px;
    padding: 4px 8px;

}

.comment>button{
    display: inline-flex;
    align-items: center;
    border: 1px solid rgb(203, 203, 203);
    margin: 1px;
}

.comment>button>span {
    padding-top: 12px;
}
